@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Rubik", sans-serif !important;
}

.main-header {
    text-align: center;
}
.main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin: 1rem 0;
    width: 1000px;
    padding: 1rem;
}

img {
    width: 100%;
}

img:hover {
    background-size: cover;
}

.selected {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
}

a.link {
    width: 100%;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1rem;
    color: #ffffff;
    position: absolute;
    text-align: center;
    bottom: 0px;
    left: 0px;
}

.card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
}

.astronomy-image-inner {
    position: relative;
}

.inside-two {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inside-two p {
    line-height: 1.5rem;
}

.refresh {
    position: absolute;
    right: 0px;
    top: 0px;
}

.refresh:hover {
    cursor: pointer;
    transform: rotate(360deg);
    animation: one 0.5s normal;
    animation-direction: alternate;
}

@keyframes one {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
