@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Rubik", sans-serif !important;
}

.main-header {
    text-align: center;
}
.main {
    width: 100%;
    display: flex;
    justify-content: center;
}

img {
    width: 100%;
}

img:hover {
    background-size: cover;
}

.card {
    font-family: inherit;
    width: 300px;
    font-size: 1rem;
    position: relative;
    margin: 1rem 0.5rem;
    background-color: black;
}

a.link {
    width: 100%;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1rem;
    color: #ffffff;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
